{% extends 'base.html.twig' %}

{% block title %}New GroupViewMember{% endblock %}

{% block body %}
    <h1>Create new GroupViewMember</h1>

    {{ include('group_view/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('group_view_show', { 'id': group_view_id }) }}">back to group</a>
{% endblock %}
