{% extends 'base.html.twig' %}

{% block title %}New GroupView{% endblock %}

{% block body %}
    <h1>Create new GroupView</h1>

    {{ include('group_view/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('group_view_index') }}">back to list</a>
{% endblock %}
